.danielfabricio{padding-right:10px;}

/* FRONTEND SASS
*********************************************/

/*  GRID  */
$column-width: 60;
$gutter-width: 20;
$columns: 12;
$total-width: 100%;


html, body{width: 100%; height: 100%;}
body{min-width:100%; padding:0; margin:0; background: #fff;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{color: #000; font-family: 'Ubuntu', sans-serif; font-weight: 400;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
	span{font: inherit; color: inherit;}
	strong{font: inherit; color: inherit;}
}
h1, .h1{font-size: 1.875em; margin-bottom: 40px; font-weight: 700;}
h2, .h2{font-size: 1.875em; margin-bottom: 20px;}
h3, .h3{font-size: 1.250em; margin-bottom: 20px;}
h4, .h4{font-size: 1.250em; margin-bottom: 20px;}
h5, .h5{font-size: 1.125em; margin-bottom: 10px;}

/* BOTÕES */
.bnt{padding: 10px 35px; box-sizing: border-box; height: 37px; line-height: 18px; display: inline-block; cursor: pointer; text-transform: uppercase; font-size: 0.875em; border: 0; -webkit-transition: background 0.35s; transition: background 0.35s;}
.bnt-rosa{ color: #fff; background: #ee1359;}
.bnt-rosa:hover{background: #bb0740;}

.bnt-roxo{ color: #fff; background: #4113ee;}
.bnt-roxo:hover{background: #2a06b4;}

/* FORMS */
form{
	width: 100%;
	.form-item{
		width: 100%; display: inline-block; margin: 10px 0;
		input, textarea{display: inline-block; width: 100%; font-size: 1em; height: 43px; padding: 10px; box-sizing: border-box; background: #fff; border: 1px solid #c3c3c3; border-radius: 2px; color: #000;}
	}
	.form-submit{
		display: inline-block; margin: 10px 0;
		input{border: none; cursor: pointer;}
	}
}

#header, #main-section, #footer{width: 100%; display: inline-block;}
.section{width: 100%; display: inline-block;}


.full-size{@include column(12);}
.display-none{display: none;}

/* 404 PAGE */
.sec-404{
	margin-bottom: 60px; position: relative;
	.img-404{display: inline-block; width: 100%; text-align: center;}
	a{z-index: 999; position: absolute; left: 23.9%; top: 91%;}
}

/* Categorias */
.post-category a{display: inline-block; padding: 10px 13px; background: #16c983; color: #fff; font-size: 0.875em; text-transform: uppercase;}

/*Paginação */
.paginate{
	@include column(12); text-align: center; padding: 40px 0 10px;
	li{display: inline-block; margin: 0 5px;}
	a, span{color: #000; padding: 6px 0; font-size: 0.85em;}
	a.page-numbers{width: 28px; display: block; text-align: center; font-size: 1em; border: 1px solid #000;}
	a.page-numbers.next, a.page-numbers.prev{width:auto; display:inline-block; text-align: center; font-size: 1em; border:0;}
	a.page-numbers:hover, .current{background: #16c983; color: #fff; border:1px solid #16c983; width: 28px; display: block; text-align: center; font-size: 1em;}
	a.page-numbers.next:hover, a.page-numbers.prev:hover{background: none; color: #000; width:auto; display:inline-block; text-align: center; font-size: 1em; border:0;}

}

/* SHARE */
.share{
	width: 100%; display: inline-block; margin: 5px 0;
	.post-category{float: left;}
	.redes{
		float: right; 
		a{display: inline-block; padding: 9px 13px; margin: 0 0 0 5px; background: #16c983; color: #fff; font-size: 0.875em; text-transform: uppercase; -webkit-transition: background 0.15s; transition: background 0.15s;}
		a.facebook{background: #5977b2;}
		a.facebook:before{content: ''; display: inline-block; width: 12px; height: 18px; margin: 0px 5px -4px 0; background: url(../img/sprite.png) -99px -49px no-repeat;}
		a.twitter{background: #00acee;}
		a.twitter:before{content: ''; display: inline-block; width: 18px; height: 18px; margin: 0px 5px -4px 0; background: url(../img/sprite.png) -125px -51px no-repeat;}
	}
}

/* BORDERS */
.border-t{border-top:1px solid #d5d6d6;}
.border-b{border-bottom:1px solid #d5d6d6;}


/* PUBLICIDADES */
.banner-slim{@include column(12); margin-top: 20px; margin-bottom: 60px;}
.home .banner-slim{margin-bottom: 20px;}


/* BLOCK */
.block{
	display: inline-block; margin: 30px 0;
	.block-title{
		width: 100%; display: inline-block;
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{font-weight: 700; text-transform: uppercase; font-size: 1.500em; color: #333333;}
	}
	p{font-size: 0.875em; line-height: 1.125em; margin:0 0 10px;}
}

/* HEADER */

#header .nav li{display: inline-block;}

.header-top{
	width: 100%; height: 60px; background: #eeeeee;
	.small-menu{
		float: left;
		a{padding: 20px 15px; color: #000; display: block;}
	}


	.redes-top{
		display: block; margin: 0 auto; width: 220px; text-align: center;
		li{display: inline-block; margin: 14px 8px;}
		a{display: block; width: 32px; height: 32px; overflow: hidden; text-indent: -9000px; cursor: pointer; -webkit-transition: background 0.35s; transition: background 0.35s;}
		.facebook a{background: url(../img/facebook.png) no-repeat;}
		.facebook a:hover{background: url(../img/facebook-h.png) no-repeat;}
		.twitter a{background: url(../img/twitter.png) no-repeat;}
		.twitter a:hover{background: url(../img/twitter-h.png) no-repeat;}
		.instagram a{background: url(../img/instagram.png) no-repeat;}
		.instagram a:hover{background: url(../img/instagram-h.png) no-repeat;}
		.pinterest a{background: url(../img/pinterest.png) no-repeat;}
		.pinterest a:hover{background: url(../img/pinterest-h.png) no-repeat;}
	}


	.busca{
		float: right; width: 280px; height: 60px; background: #dfdfdf; margin: -60px 0 0;
		.search{padding: 20px 0; height: 20px; display: inline-block;}
		.search-input{background: 0 0; border: none; color: #535353; font-size: 1em; display: inline-block; margin: 0 20px; padding: 0; width: 190px;}
		.search-submit{width: 25px; height: 22px; padding: 0; background: url(../img/sprite.png) no-repeat 0px -48px; display:inline-block; overflow: hidden; text-indent: -900px;}
	}
}

.header-content{
	.container{text-align: center; margin-top: 60px; margin-bottom: 60px;}
	.menu{
		width: 100%; text-align: center; margin-top: 40px;
		li{margin: 0 7px;}
		a{font-size: 1.125em; color: #777777;}
	}
}



/* CONTENT */

#main-section{

	.destaque-item{
		/*height: 320px;*/ position: relative; overflow: hidden; background: #3085a3; max-width: 575px;
		.destaque-cover{
			/*display: block; width: 100%; height: 100%; position: absolute; z-index: 99; left: 0; top: 0; background: url(../img/destaque-h.png) repeat-x;*/
			.destaque-title{position: absolute; bottom: 10px; left: 20px; padding-right: 20px; z-index: 999;}
			.date{color: #fff; font-size: 1.125em; text-shadow: 2px 2px 1px #091a1c;}
			.title h2{color: #fff; text-shadow: 3px 3px 2px #091a1c; text-transform: uppercase; margin-top: 5px;}
		}
		img{float:left; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; opacity:0.8;}
		
	}

	.destaque-item.item-hover{
		img{-webkit-transform: scale(1.12); transform: scale(1.12);  opacity:0.95;}
	}


	/* POST LIST HOME */
	.post-list, ul{
		.post-item-list{
			background: #eeeeee; position: relative; overflow: hidden;
			
			.post-img{
				overflow: hidden; max-height: 210px;
				img{float: left; -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s;}
			}

			.post-category{position: absolute; z-index: 99; top: 0; right: 0;}
			.post-desc{padding:20px 10px;}
			.post-text{font-size: 0.875em; line-height: 1.4em; margin-bottom: 20px; min-height: 80px;}
			.post-list-bottom{display: inline-block; width: 100%;  padding: 0 20px 0 0; box-sizing: border-box; bottom: 20px; position: absolute;}
			.post-date{
				float: left; display: inline;
				.post-time{font-size: 0.850em; color: #9a9a9a;}
				.post-time:before{content: ''; display: inline-block; width: 20px; height: 16px; margin: 0 10px -3px 0; background: url(../img/sprite.png) no-repeat -67px -50px;  }
			}
			.post-autor{
				float: right; display: inline; 
				a{font-size: 0.875em; color: #9a9a9a;}
			}
			.post-autor:before{content: ''; display: inline-block; width: 18px; height: 18px; margin: 0 10px -3px 0; background: url(../img/sprite.png) no-repeat -36px -49px;  }

		}

		.post-item-list.item-hover{
			img{-webkit-transform: scale(1.12); transform: scale(1.12);}
			.post-category a{background: #ee1359;}
		}
	}


	/* POSTS RELACIONADOS */
	.posts-relacionados{
		width: 100%; padding: 0 0 40px; margin:20px 0; border-bottom: 1px solid #d5d6d6; display: inline-block;
		.block-title h3:before{content: ''; display: inline-block; width: 29px; height: 24px; background: url(../img/sprite.png) 1px -75px no-repeat; margin: 0 10px 0 0; float: left;}
		.post-list{
			.post-item-list{
				margin-bottom: 0;
				.post-img{overflow: hidden; max-height: 137px;}
				.post-desc{
					padding: 10px 10px;
					h3{font-size: 1.1em; margin-bottom: 20px;}
					.post-list-bottom{
						.post-autor{float: left; width: 100%; margin-top: 10px;}
					}
				}
			}
		}
	}


	/* SECTION WIDGETS */
	.widgets{
		padding: 40px 0; margin: 40px 0 0;
		.widget-title{width: 100%; display: inline-block;}
		.widget-bottom{
			h4{color: #e00459;}
		}

		.instagram-widget{
			.insta-img{float: left; margin:0 10px 0 0;}
			.insta-link{
				margin: 4px 0 0; display: inline-block;
				a{color: #3f729b; font-weight: 700; font-size: 1em;}
				.insta-sub{font-size: 0.750em; color: #777;}
			}
		}
	}

	/* LINKS WIDGET */
	.links-block{
		.block-title h3:before{content: ''; display: inline-block; width: 29px; height: 24px; background: url(../img/sprite.png) -150px -75px no-repeat; margin: 0 10px 0 0; float: left;}
		.textwidget{margin-top: 10px; display: inline-block; width: 100%;}
		a{width: 100%; display: inline-block; padding: 14px 10px; border-bottom: 1px solid #ccc; margin: 0 0 15px; box-sizing: border-box;}
		a:first-child{border-top: 1px solid #ccc;}
	}
}

/* PÁGINA DO POST ÚNICO */
.with-sidebar{
	#main{
		.page-image-destaque{
			margin-bottom: 20px;
			img{/* temporario: */ width: 100%;}
		}
		.post-content{
			.post-title{
				width: 100%;
				.post-date{font-size: 0.875em; color: #9a9a9a; margin-bottom: 5px;}
				h1{color: #333; text-transform: uppercase; width: 100%; margin-bottom: 20px;}
			}
			.post-body{
				p{width: 100%; display: inline-block; margin-bottom: 20px;}
				a{color: #ee1359;}
			}
		}

		.type-post{
			.post-body{
				img{width: 100%;}
				div{
					margin-bottom: 20px; width: 100%; font-size: 1em; line-height: 1.5em; color: #545454;
					a{width: 100%;}
				}
			}
		}
	}

	/* SIDEBAR */
	#sidebar.fixed{
		position: absolute; right: 0;
	}
	#sidebar{
		.widget-first{margin-top: 0;}
		.newsletter{
			.form-item{margin: 5px 0;}
			.block-title h3:before{content: ''; display: inline-block; width: 32px; height: 22px; background: url(../img/sprite.png) no-repeat -73px -75px; margin: 0 10px 0 0; float: left;}
		}

		.posts-populares{
			.block-title h3:before{content: ''; display: inline-block; width: 32px; height: 24px; background: url(../img/sprite.png) no-repeat -114px -74px; margin: 0 10px 0 0; float: left;}
			.post-item-list{
				@include column(12); margin-bottom: 20px; min-height: 250px;
				.post-img{overflow: hidden; max-height: 137px;}
				.post-desc{
					padding: 10px 10px;
					h4{font-size: 1em; margin-bottom: 10px;}
					.post-list-bottom{
						bottom:10px;
						a{float: left; width: 100%; margin-top: 10px; font-size: .875em; color: #9a9a9a; }
					}
				}
			}
		}
	}
}





/* POST TAGS */
.post-tags{
	width: 100%; display: inline-block; margin: 20px 0; color: #333; font-weight: 500;
	a{display: inline-block; margin: 2px; padding: 7px; font-size: .85em !important; color: #000; border-radius: 4px; border: 1px solid #717171; -webkit-transition: background .15s,border-color .15s; transition: background .15s,border-color .15s;}
	a:hover {border-color: #ee1359; background: #ee1359; color: #fff;}
}

/* COMENTARIOS */
.comentarios{
	margin: 40px 0; display: inline-block; width: 100%;
	.block-title{
		h3.h2{color: #5973a8;}
		h3:before{content: ''; display: inline-block; width: 38px; height: 27px; background: url(../img/sprite.png) -30px -73px no-repeat; margin: 0 10px 0 0; float: left;}
	}
}

/* AUTOR BOTTOM */
.autor-bottom{
	padding: 30px 0; margin: 30px 0; width: 100%; border-top: 1px solid #d5d6d6; border-bottom: 1px solid #d5d6d6;
	.autor-title{
		width: 100%; display: inline-block; margin-bottom: 10px;
		a{font-weight: 500; color: #333333;}
	}
	.autor-desc{width: 100%; display: inline-block;}
	.autor-more{
		margin: 5px 0 0; font-size: .875em; line-height: 1.2em; color: #545454;
		a{color: #333; text-decoration: underline;}
	}
 
	.autor-img{float: left; margin-right: 10px;}
	.autor-text{
		width: 360px; display: inline-block;
		p{font-size: 0.875em; margin: 0; line-height: 1.2em;}
		.autor-redes{
			margin-top: 10px;
			a{display: inline-block; height: 20px; margin:0 2px; text-indent: -900px; opacity:0.30; overflow: hidden; background: url(../img/sprite.png) no-repeat; -webkit-transition: opacity 0.15s; transition: opacity 0.15s;}
			a:hover{opacity:0.6;}
			a.facebook{width: 10px; background-position: -210px -48px;}
			a.twitter{width: 20px; background-position: -230px -48px;}
			a.instagram{width: 20px; background-position: -261px -48px;}
			a.pinterest{width: 20px; background-position: -287px -48px;}
		}
	}
}

/* PAGINA DE AUTOR */
.author-page{
	.autor-block{
		display: inline-block; width: 100%; margin: 0 0 40px;
		h3{font-weight: 500; margin-bottom: 10px;}
		.autor-img{display: inline-block; width: 100px; float: left; margin: 0 20px 0 0;}
		.redes-user{
			margin-top: 10px;
			a{display: inline-block; height: 20px; margin:0 2px; text-indent: -900px; opacity:0.30; overflow: hidden; background: url(../img/sprite.png) no-repeat; -webkit-transition: opacity 0.15s; transition: opacity 0.15s;}
			a:hover{opacity:0.6;}
			a.facebook{width: 10px; background-position: -210px -48px;}
			a.twitter{width: 20px; background-position: -230px -48px;}
			a.instagram{width: 20px; background-position: -261px -48px;}
			a.pinterest{width: 20px; background-position: -287px -48px;}
		}
		.autor-description{
			width: 630px; display: inline-block;
			p{font-size: 0.875em;}
		}

	}
}


/* EDIT LINK */
.post-edit-link{position: fixed; left: 0; top:50%; margin-top: -70px; display: block; width: 40px; height: 148px; text-indent: -9000px; overflow: hidden; background:url(../img/edit.jpg) no-repeat;}

/* NEW POST */
.button-new-post{
	position: fixed; left: 0; top:50%; margin-top: -90px; 
	a{width: 57px; height: 182px; text-indent: -9000px; display: block; overflow: hidden; background:url(../img/new-post.png) no-repeat;}
}


/* EQUIPE */
.equipe-page{
	.post-title{
		height: 330px; width: 100%; margin-bottom: 30px; padding: 132px 0; box-sizing:border-box; background: url(../img/equipe.jpg) no-repeat; background-size: cover;
		h1{color: #fff !important; font-size: 3.750em; margin-left: -5px;}
	}

	.equipe-list{
		display: inline-block; width: 100%;
		.equipe-item{
			display: inline-block; width: 100%; margin: 30px 0;
			.autor-img{float: left; margin: 0 20px 0 0;}
			.redes-user{
				margin-top: 10px;
				a{display: inline-block; height: 20px; margin:0 2px; text-indent: -900px; opacity:0.30; overflow: hidden; background: url(../img/sprite.png) no-repeat; -webkit-transition: opacity 0.15s; transition: opacity 0.15s;}
				a:hover{opacity:0.6;}
				a.facebook{width: 10px; background-position: -210px -48px;}
				a.twitter{width: 20px; background-position: -230px -48px;}
				a.instagram{width: 20px; background-position: -261px -48px;}
				a.pinterest{width: 20px; background-position: -287px -48px;}
			}
			.autor-description{
				h3{margin-bottom: 10px;}
				a{color: #333; font-size: 1.125em; font-weight: 500; display: inline-block;}
			} 

			p{color: #777; font-size: 0.875em;}
		}
	}
}


/* CATEGORIAS PAGE */
.category{
	.categ-title{
		@include column(12); margin-bottom: 40px; display: inline-block; height: 150px; box-sizing:border-box; padding: 45px 0; background:#c40f55;
		h1{color: #fff !important; font-size: 3.750em; margin:0 0 0 -5px; text-transform: uppercase;}
	}
}

/* PÁGINA DE CONTATOS */
.contatos-page{
	form{
		width: 100%; display: inline-block;
		.ninja-forms-required-items{font-size: 0.975em; color: #333;}
		.text-wrap, .textarea-wrap{
			input, textarea{width: 100%; max-width: 550px; padding: 10px; box-sizing: border-box; height: 40px; border: 2px solid #dcdcdc; color:#333; font-family: inherit;}
			textarea{height: 300px;}
		} 
	}
}


/* PARCEIROS ITEM */
.parceiros{
	.parceiro-item{float: left; margin-right: 30px; margin-bottom: 30px;}
}


/* FOOTER */
#footer{
	background: #3d3d3d; padding: 30px 0;

	.design{
		width: 100%; display: inline-block; margin-bottom: 40px;
		.design-image{float: left; width: 80px; margin-right: 20px;}
		.design-frase{float: left; width: 200px;}
		p{color: #fff; font-size: 0.875em; margin: 0;}
		a{color: #828282; font-size: 0.875em; margin-top: 3px; display: block;}
	}

	.redes-footer{
		width: 100%; display: block;

		li{display: inline-block; margin: 0 8px;}
		a{display: block; width: 32px; height: 32px; background: url(../img/sprite.png) no-repeat; opacity:0.35; overflow: hidden; text-indent: -9000px; cursor: pointer; -webkit-transition: opacity 0.15s; transition: opacity 0.15s;}
		a:hover{opacity:1;}
		.facebook a{background-position: -184px 1px ;}
		.twitter a{background-position: -235px 1px ;}
		.instagram a{background-position: -285px 1px;}
		.pinterest a{background-position: -335px 1px ;}
	}

	.parceiros{
		.parceiro-item{float: left; margin-right: 10px; margin-bottom: 10px;}
	}


	.widget{
		h5{color: #fff;}
	}

	.widget.tags{
		a{display: inline-block; margin: 2px; float: left; padding: 7px; font-size: 0.85em !important; color: #fff; border-radius: 4px; border: 1px solid #717171; -webkit-transition: background 0.15s, border-color 0.15s; transition: background 0.15s, border-color 0.15s;}
		a:hover{border-color: #fff; background: #fff; color: #000;}
	}

	.footer-bottom{
		width: 100%; text-align: center; margin: 40px 0 0; display: inline-block;
		p, a{display: inline-block; color: #fff; margin: 0 20px; font-size: 0.75em;}
	}
}









