/* 
-----------------------------------------------------------------------------
Arquivo contendo os tamanhos dos elementos com querys para tamanhos de tela.
-----------------------------------------------------------------------------
*/


/* Tamanho de conteúdo */
@mixin center{
	width: 1200px;
	display: list-item;
	margin: 0 auto;
	position: relative;
}

@mixin responsive{
	width: 95%;
	display: list-item;
	margin: 0 2.5%;
	position: relative;
}

@media only screen and (max-width : 1199px) {
    .container{@include responsive;}
}

@media only screen and (min-width : 1200px) {
    .container{@include center;}
}



/* iPhone */
@media only screen and (min-width : 300px) {

	#main-section{
		.post-list {
			text-align: center;
			.post-item-list{@include column(12); margin-bottom: 20px; min-height: 425px; max-width: 420px; float: none; text-align: left; display: inline-block;}
		}

		.destaque{text-align: center;}
		.destaque-item{@include column(12); max-width:575px; margin-bottom: 20px; float: none; display: inline-block;}

		.widgets{
			.widget-bottom{@include column(12);}
		}
	}


	/* NEWSLETTER HOME */
	.news-home{
		width: 100%; display: inline-block; padding: 31px 10px; background: url(../img/bg-news.jpg) no-repeat right center; background-size: cover; box-sizing: border-box;
		h2{color: #fff; text-transform: uppercase; font-size: 2.500em; float: left; margin: 10px 0; font-weight: 700; width: 100%; text-align: center;}
		form{
			float: left; width: 100%; text-align: center;
			.form-item{
				width: 100%; margin: 5px 0;
				input{height: 39px;}
			}
		}
	}

}

/* iPad */
@media only screen and (min-width : 768px) {

	#main-section{
		.post-list {
			.post-item-list{@include column(6); margin-bottom: 20px;}
		}
	}


	.news-home{
		form{
			text-align: center;
			.form-item{
				width: 35%; margin: 0 5px;
				input{height: 39px;}
			}
		}
	}

}

/* Monitores menores */
@media only screen and (min-width : 940px) {
	/* HOME */
	#main-section{
		.post-list {
			.post-item-list{@include column(4); margin-bottom: 20px;}
		}

		.destaque-item{@include column(6);}

		.widgets{
			.widget-bottom{@include column(4);}
		}
	}

	/* POSTS RELACIONADOS */
	#main-section{
		.posts-relacionados{
			.post-list {
				.post-item-list{min-height:260px; }
			}
		}
	}

	/* AUTOR PAGE */
	#main-section.author-page{
		.post-list {
			.post-item-list{@include column(6); margin-bottom: 20px;}
		}
	}

	/* COM SIDEBAR */
	.with-sidebar{
		#main{@include column(8); @include pull(1); margin-bottom: 50px;}
		#sidebar{@include column(3);}
	}

	/* FOOTER */
	#footer{
		.widget{@include column(4);}
	}
}

/* Full */
@media only screen and (min-width : 1200px) {

	.news-home{
		h2{color: #fff; width: auto; text-transform: uppercase; font-size: 2.500em; float: left; margin: 10px 20px 0 0; font-weight: 700;}
		form{
			float: right; width: 550px; text-align: right; max-width: 100%;
			.form-item{
				width: 35%; margin: 0 5px;
				input{height: 39px;}
			}
		}
	}
	
}





@media only screen and (max-width : 1030px){
	.header-top{
		.redes-top{float: left;}
		.busca{float: right; margin:0;}
	}
}

/* ----- MENU RESPONSIVO E BUSCA ----- */
@media only screen and (max-width : 870px) {

	.header-top{
		.menu-responsivo{display: block; cursor: pointer; width: 50px; height: 40px; float: left; margin: 10px 0 0; background: url(../img/sprite.png) no-repeat -321px -48px;}
		.small-menu{
			display: none; float: left; width: 210px; background: #333; position: absolute; z-index: 99; top: 60px; left: 0;
			li{display: inline-block; width: 100%; border-bottom: 1px solid #555; border-top: 1px solid #222;}
			a{color: #ccc;}
			a:hover{background:#232323;}
		}

		.redes-top{float: none;}

		.busca{
			width: 70px; margin-top: -60px; position: relative; -webkit-transition: width 0.8s; -moz-transition: width 0.8s; -o-transition: width 0.8s; transition: width 0.8s;
			.busca-responsiva{cursor: pointer; width: 25px; height: 22px; padding: 0; background: url(../img/sprite.png) 0 -48px no-repeat; display: inline-block; position: absolute; left: 15px; top: 19px;}
			form.search{display: none;}
		}

		.busca.ativa{
			width: 280px; overflow: hidden;
			form.search{display: inline-block; width: 270px; float: right;}
			.busca-responsiva{background: url(../img/sprite.png) -185px -76px no-repeat; left: 6px;}
		}
	}



}

@media only screen and (min-width : 871px) {
	.menu-responsivo{display: none;}
}