
<script type="text/javascript">
//<![CDATA[
if (typeof newsletter_check !== "function") {
window.newsletter_check = function (f) {
    var re = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-]{1,})+\.)+([a-zA-Z0-9]{2,})+$/;
    if (!re.test(f.elements["ne"].value)) {
        alert("Email inválido");
        return false;
    }
    if (f.elements["nn"] && (f.elements["nn"].value == "" || f.elements["nn"].value == f.elements["nn"].defaultValue)) {
        alert("Este é mesmo seu nome? :x");
        return false;
    }
    if (f.elements["ny"] && !f.elements["ny"].checked) {
        alert("You must accept the privacy statement");
        return false;
    }
    return true;
}
}
//]]>
</script>

<div class="newsletter newsletter-subscription block-content">

    <div class="block-desc">
        <p>Assine nossa newsletter e receba conteúdo criativo direto no seu email (:</p>
    </div>

    <form method="post" action="http://localhost/sala7/wp-content/plugins/newsletter/do/subscribe.php" onsubmit="return newsletter_check(this)">

        <!-- first name -->
        <div class="form-item">
            <input class="newsletter-firstname" type="text" name="nn" size="30" placeholder="Nome" required>
        </div>

        <!-- email -->
        <div class="form-item">
            <input class="newsletter-email" type="email" name="ne" size="30" placeholder="Email" required>
        </div>

        <div class="form-submit newsletter-td-submit">
        	<input class="newsletter-submit bnt bnt-rosa" type="submit" value="Enviar"/>
        </div>

    </form>
</div>