@charset "IBM437";
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.danielfabricio {
  padding-right: 10px; }

/* FRONTEND SASS
*********************************************/
/*  GRID  */
html, body {
  width: 100%;
  height: 100%; }

body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: #fff; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; }

h1 span, .h1 span, h2 span, .h2 span, h3 span, .h3 span, h4 span, .h4 span, h5 span, .h5 span {
  font: inherit;
  color: inherit; }
h1 strong, .h1 strong, h2 strong, .h2 strong, h3 strong, .h3 strong, h4 strong, .h4 strong, h5 strong, .h5 strong {
  font: inherit;
  color: inherit; }

h1, .h1 {
  font-size: 1.875em;
  margin-bottom: 40px;
  font-weight: 700; }

h2, .h2 {
  font-size: 1.875em;
  margin-bottom: 20px; }

h3, .h3 {
  font-size: 1.250em;
  margin-bottom: 20px; }

h4, .h4 {
  font-size: 1.250em;
  margin-bottom: 20px; }

h5, .h5 {
  font-size: 1.125em;
  margin-bottom: 10px; }

/* BOTÕES */
.bnt {
  padding: 10px 35px;
  box-sizing: border-box;
  height: 37px;
  line-height: 18px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.875em;
  border: 0;
  -webkit-transition: background 0.35s;
  transition: background 0.35s; }

.bnt-rosa {
  color: #fff;
  background: #ee1359; }

.bnt-rosa:hover {
  background: #bb0740; }

/* FORMS */
form {
  width: 100%; }
  form .form-item {
    width: 100%;
    display: inline-block;
    margin: 10px 0; }
    form .form-item input, form .form-item textarea {
      display: inline-block;
      width: 100%;
      font-size: 1em;
      height: 43px;
      padding: 10px;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #c3c3c3;
      border-radius: 2px;
      color: #000; }
  form .form-submit {
    display: inline-block;
    margin: 10px 0; }
    form .form-submit input {
      border: none;
      cursor: pointer; }

#header, #main-section, #footer {
  width: 100%;
  display: inline-block; }

.section {
  width: 100%;
  display: inline-block; }

.full-size {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%; }

.display-none {
  display: none; }

/* 404 PAGE */
.sec-404 {
  margin-bottom: 60px;
  position: relative; }
  .sec-404 .img-404 {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .sec-404 a {
    z-index: 999;
    position: absolute;
    left: 23.9%;
    top: 91%; }

/* Categorias */
.post-category a {
  display: inline-block;
  padding: 10px 13px;
  background: #16c983;
  color: #fff;
  font-size: 0.875em;
  text-transform: uppercase; }

/*Paginação */
.paginate {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  text-align: center;
  padding: 40px 0 10px; }
  .paginate li {
    display: inline-block;
    margin: 0 5px; }
  .paginate a, .paginate span {
    color: #000;
    padding: 6px 0;
    font-size: 0.85em; }
  .paginate a.page-numbers {
    width: 28px;
    display: block;
    text-align: center;
    font-size: 1em;
    border: 1px solid #000; }
  .paginate a.page-numbers.next, .paginate a.page-numbers.prev {
    width: auto;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    border: 0; }
  .paginate a.page-numbers:hover, .paginate .current {
    background: #16c983;
    color: #fff;
    border: 1px solid #16c983;
    width: 28px;
    display: block;
    text-align: center;
    font-size: 1em; }
  .paginate a.page-numbers.next:hover, .paginate a.page-numbers.prev:hover {
    background: none;
    color: #000;
    width: auto;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    border: 0; }

/* SHARE */
.share {
  width: 100%;
  display: inline-block;
  margin: 5px 0; }
  .share .post-category {
    float: left; }
  .share .redes {
    float: right; }
    .share .redes a {
      display: inline-block;
      padding: 9px 13px;
      margin: 0 0 0 5px;
      background: #16c983;
      color: #fff;
      font-size: 0.875em;
      text-transform: uppercase;
      -webkit-transition: background 0.15s;
      transition: background 0.15s; }
    .share .redes a.facebook {
      background: #5977b2; }
    .share .redes a.facebook:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 18px;
      margin: 0px 5px -4px 0;
      background: url(../img/sprite.png) -99px -49px no-repeat; }
    .share .redes a.twitter {
      background: #00acee; }
    .share .redes a.twitter:before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0px 5px -4px 0;
      background: url(../img/sprite.png) -125px -51px no-repeat; }

/* BORDERS */
.border-t {
  border-top: 1px solid #d5d6d6; }

.border-b {
  border-bottom: 1px solid #d5d6d6; }

/* PUBLICIDADES */
.banner-slim {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  margin-top: 20px;
  margin-bottom: 60px; }

.home .banner-slim {
  margin-bottom: 20px; }

/* BLOCK */
.block {
  display: inline-block;
  margin: 30px 0; }
  .block .block-title {
    width: 100%;
    display: inline-block; }
    .block .block-title h1, .block .block-title .h1, .block .block-title h2, .block .block-title .h2, .block .block-title h3, .block .block-title .h3, .block .block-title h4, .block .block-title .h4, .block .block-title h5, .block .block-title .h5 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.500em;
      color: #333333; }
  .block p {
    font-size: 0.875em;
    line-height: 1.125em;
    margin: 0 0 10px; }

/* HEADER */
#header .nav li {
  display: inline-block; }

.header-top {
  width: 100%;
  height: 60px;
  background: #eeeeee; }
  .header-top .small-menu {
    float: left; }
    .header-top .small-menu a {
      padding: 20px 15px;
      color: #000;
      display: block; }
  .header-top .redes-top {
    display: block;
    margin: 0 auto;
    width: 220px;
    text-align: center; }
    .header-top .redes-top li {
      display: inline-block;
      margin: 14px 8px; }
    .header-top .redes-top a {
      display: block;
      width: 32px;
      height: 32px;
      overflow: hidden;
      text-indent: -9000px;
      cursor: pointer;
      -webkit-transition: background 0.35s;
      transition: background 0.35s; }
    .header-top .redes-top .facebook a {
      background: url(../img/facebook.png) no-repeat; }
    .header-top .redes-top .facebook a:hover {
      background: url(../img/facebook-h.png) no-repeat; }
    .header-top .redes-top .twitter a {
      background: url(../img/twitter.png) no-repeat; }
    .header-top .redes-top .twitter a:hover {
      background: url(../img/twitter-h.png) no-repeat; }
    .header-top .redes-top .instagram a {
      background: url(../img/instagram.png) no-repeat; }
    .header-top .redes-top .instagram a:hover {
      background: url(../img/instagram-h.png) no-repeat; }
    .header-top .redes-top .pinterest a {
      background: url(../img/pinterest.png) no-repeat; }
    .header-top .redes-top .pinterest a:hover {
      background: url(../img/pinterest-h.png) no-repeat; }
  .header-top .busca {
    float: right;
    width: 280px;
    height: 60px;
    background: #dfdfdf;
    margin: -60px 0 0; }
    .header-top .busca .search {
      padding: 20px 0;
      height: 20px;
      display: inline-block; }
    .header-top .busca .search-input {
      background: 0 0;
      border: none;
      color: #535353;
      font-size: 1em;
      display: inline-block;
      margin: 0 20px;
      padding: 0;
      width: 190px; }
    .header-top .busca .search-submit {
      width: 25px;
      height: 22px;
      padding: 0;
      background: url(../img/sprite.png) no-repeat 0px -48px;
      display: inline-block;
      overflow: hidden;
      text-indent: -900px; }

.header-content .container {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }
.header-content .menu {
  width: 100%;
  text-align: center;
  margin-top: 40px; }
  .header-content .menu li {
    margin: 0 7px; }
  .header-content .menu a {
    font-size: 1.125em;
    color: #777777; }

/* CONTENT */
#main-section {
  /* POST LIST HOME */
  /* POSTS RELACIONADOS */
  /* SECTION WIDGETS */ }
  #main-section .destaque-item {
    /*height: 320px;*/
    position: relative;
    overflow: hidden;
    background: #3085a3; }
    #main-section .destaque-item .destaque-cover {
      /*display: block; width: 100%; height: 100%; position: absolute; z-index: 99; left: 0; top: 0; background: url(../img/destaque-h.png) repeat-x;*/ }
      #main-section .destaque-item .destaque-cover .destaque-title {
        position: absolute;
        bottom: 10px;
        left: 20px;
        padding-right: 20px;
        z-index: 999; }
      #main-section .destaque-item .destaque-cover .date {
        color: #fff;
        font-size: 1.125em;
        text-shadow: 2px 2px 1px #091a1c; }
      #main-section .destaque-item .destaque-cover .title h2 {
        color: #fff;
        text-shadow: 3px 3px 2px #091a1c;
        text-transform: uppercase;
        margin-top: 5px; }
    #main-section .destaque-item img {
      float: left;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      opacity: 0.8; }
  #main-section .destaque-item.item-hover img {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    opacity: 0.95; }
  #main-section .post-list .post-item-list {
    background: #eeeeee;
    position: relative;
    overflow: hidden; }
    #main-section .post-list .post-item-list .post-img {
      overflow: hidden; }
      #main-section .post-list .post-item-list .post-img img {
        float: left;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s; }
    #main-section .post-list .post-item-list .post-category {
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0; }
    #main-section .post-list .post-item-list .post-desc {
      padding: 20px 10px; }
    #main-section .post-list .post-item-list .post-text {
      font-size: 0.875em;
      line-height: 1.4em;
      margin-bottom: 20px;
      min-height: 80px; }
    #main-section .post-list .post-item-list .post-list-bottom {
      display: inline-block;
      width: 100%;
      padding: 0 20px 0 0;
      box-sizing: border-box;
      bottom: 20px;
      position: absolute; }
    #main-section .post-list .post-item-list .post-date {
      float: left;
      display: inline; }
      #main-section .post-list .post-item-list .post-date .post-time {
        font-size: 0.850em;
        color: #9a9a9a; }
      #main-section .post-list .post-item-list .post-date .post-time:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 16px;
        margin: 0 10px -3px 0;
        background: url(../img/sprite.png) no-repeat -67px -50px; }
    #main-section .post-list .post-item-list .post-autor {
      float: right;
      display: inline; }
      #main-section .post-list .post-item-list .post-autor a {
        font-size: 0.875em;
        color: #9a9a9a; }
    #main-section .post-list .post-item-list .post-autor:before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0 10px -3px 0;
      background: url(../img/sprite.png) no-repeat -36px -49px; }
  #main-section .post-list .post-item-list.item-hover img {
    -webkit-transform: scale(1.12);
    transform: scale(1.12); }
  #main-section .post-list .post-item-list.item-hover .post-category a {
    background: #ee1359; }
  #main-section .posts-relacionados {
    width: 100%;
    padding: 0 0 40px;
    margin: 20px 0;
    border-bottom: 1px solid #d5d6d6;
    display: inline-block; }
    #main-section .posts-relacionados .block-title h3:before {
      content: '';
      display: inline-block;
      width: 29px;
      height: 24px;
      background: url(../img/sprite.png) 1px -75px no-repeat;
      margin: 0 10px 0 0;
      float: left; }
    #main-section .posts-relacionados .post-list .post-item-list {
      margin-bottom: 0; }
      #main-section .posts-relacionados .post-list .post-item-list .post-desc {
        padding: 10px 10px; }
        #main-section .posts-relacionados .post-list .post-item-list .post-desc h3 {
          font-size: 1.1em;
          margin-bottom: 20px; }
        #main-section .posts-relacionados .post-list .post-item-list .post-desc .post-list-bottom .post-autor {
          float: left;
          width: 100%;
          margin-top: 10px; }
  #main-section .widgets {
    padding: 40px 0;
    margin: 40px 0 0; }
    #main-section .widgets .widget-title {
      width: 100%;
      display: inline-block; }
    #main-section .widgets .widget-bottom h4 {
      color: #e00459; }

/* PÁGINA DO POST ÚNICO */
.with-sidebar {
  /* SIDEBAR */ }
  .with-sidebar #main .page-image-destaque {
    margin-bottom: 20px; }
    .with-sidebar #main .page-image-destaque img {
      /* temporario: */
      width: 100%; }
  .with-sidebar #main .post-content .post-title {
    width: 100%; }
    .with-sidebar #main .post-content .post-title .post-date {
      font-size: 0.875em;
      color: #9a9a9a;
      margin-bottom: 5px; }
    .with-sidebar #main .post-content .post-title h1 {
      color: #333;
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 20px; }
  .with-sidebar #main .post-content .post-body div {
    margin-bottom: 20px;
    width: 100%; }
    .with-sidebar #main .post-content .post-body div a {
      width: 100%; }
  .with-sidebar #main .post-content .post-body img {
    width: 100%; }
  .with-sidebar #main .post-content .post-body p {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px; }
  .with-sidebar #main .post-content .post-body a {
    color: #ee1359; }
  .with-sidebar #sidebar .widget-first {
    margin-top: 0; }
  .with-sidebar #sidebar .newsletter .form-item {
    margin: 5px 0; }
  .with-sidebar #sidebar .newsletter .block-title h3:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 22px;
    background: url(../img/sprite.png) no-repeat -73px -75px;
    margin: 0 10px 0 0;
    float: left; }
  .with-sidebar #sidebar .posts-populares .block-title h3:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 24px;
    background: url(../img/sprite.png) no-repeat -114px -74px;
    margin: 0 10px 0 0;
    float: left; }
  .with-sidebar #sidebar .posts-populares .populares-list .post-item-list {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    margin-bottom: 20px; }
    .with-sidebar #sidebar .posts-populares .populares-list .post-item-list .post-desc {
      padding: 10px 10px; }
      .with-sidebar #sidebar .posts-populares .populares-list .post-item-list .post-desc h4 {
        font-size: 1em;
        margin-bottom: 10px; }
      .with-sidebar #sidebar .posts-populares .populares-list .post-item-list .post-desc .post-list-bottom a {
        float: left;
        width: 100%;
        margin-top: 10px; }

/* POST TAGS */
.post-tags {
  width: 100%;
  display: inline-block;
  margin: 20px 0;
  color: #333;
  font-weight: 500; }
  .post-tags a {
    display: inline-block;
    margin: 2px;
    padding: 7px;
    font-size: .85em !important;
    color: #000;
    border-radius: 4px;
    border: 1px solid #717171;
    -webkit-transition: background .15s,border-color .15s;
    transition: background .15s,border-color .15s; }
  .post-tags a:hover {
    border-color: #ee1359;
    background: #ee1359;
    color: #fff; }

/* COMENTARIOS */
.comentarios {
  margin: 40px 0;
  display: inline-block;
  width: 100%; }
  .comentarios .block-title h3.h2 {
    color: #5973a8; }
  .comentarios .block-title h3:before {
    content: '';
    display: inline-block;
    width: 38px;
    height: 27px;
    background: url(../img/sprite.png) -30px -73px no-repeat;
    margin: 0 10px 0 0;
    float: left; }

/* AUTOR BOTTOM */
.autor-bottom {
  padding: 30px 0;
  margin: 30px 0;
  width: 100%;
  border-top: 1px solid #d5d6d6;
  border-bottom: 1px solid #d5d6d6; }
  .autor-bottom .autor-title {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px; }
    .autor-bottom .autor-title a {
      font-weight: 500;
      color: #333333; }
  .autor-bottom .autor-desc {
    width: 100%;
    display: inline-block; }
  .autor-bottom .autor-more {
    margin: 5px 0 0;
    font-size: .875em;
    line-height: 1.2em;
    color: #545454; }
    .autor-bottom .autor-more a {
      color: #333;
      text-decoration: underline; }
  .autor-bottom .autor-img {
    float: left;
    margin-right: 10px; }
  .autor-bottom .autor-text {
    width: 360px;
    display: inline-block; }
    .autor-bottom .autor-text p {
      font-size: 0.875em;
      margin: 0;
      line-height: 1.2em; }
    .autor-bottom .autor-text .autor-redes {
      margin-top: 10px; }
      .autor-bottom .autor-text .autor-redes a {
        display: inline-block;
        height: 20px;
        margin: 0 2px;
        text-indent: -900px;
        opacity: 0.30;
        overflow: hidden;
        background: url(../img/sprite.png) no-repeat;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s; }
      .autor-bottom .autor-text .autor-redes a:hover {
        opacity: 0.6; }
      .autor-bottom .autor-text .autor-redes a.facebook {
        width: 10px;
        background-position: -210px -48px; }
      .autor-bottom .autor-text .autor-redes a.twitter {
        width: 20px;
        background-position: -230px -48px; }
      .autor-bottom .autor-text .autor-redes a.instagram {
        width: 20px;
        background-position: -261px -48px; }
      .autor-bottom .autor-text .autor-redes a.pinterest {
        width: 20px;
        background-position: -287px -48px; }

/* PAGINA DE AUTOR */
.author-page .autor-block {
  display: inline-block;
  width: 100%;
  margin: 0 0 40px; }
  .author-page .autor-block h3 {
    font-weight: 500;
    margin-bottom: 10px; }
  .author-page .autor-block .autor-img {
    display: inline-block;
    width: 96px;
    float: left;
    margin: 0 20px 0 0; }
  .author-page .autor-block .autor-description {
    width: 630px;
    display: inline-block; }
    .author-page .autor-block .autor-description p {
      font-size: 0.875em; }

/* EDIT LINK */
.post-edit-link {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -70px;
  display: block;
  width: 40px;
  height: 148px;
  text-indent: -9000px;
  overflow: hidden;
  background: url(../img/edit.jpg) no-repeat; }

/* EQUIPE */
.equipe-page .post-title {
  height: 330px;
  width: 100%;
  margin-bottom: 30px;
  padding: 132px 0;
  box-sizing: border-box;
  background: url(../img/equipe.jpg) no-repeat;
  background-size: cover; }
  .equipe-page .post-title h1 {
    color: #fff !important;
    font-size: 3.750em;
    margin-left: -5px; }
.equipe-page .equipe-list {
  display: inline-block;
  width: 100%; }
  .equipe-page .equipe-list .equipe-item {
    display: inline-block;
    width: 100%;
    margin: 30px 0; }
    .equipe-page .equipe-list .equipe-item .autor-img {
      float: left;
      margin: 0 20px 0 0; }
    .equipe-page .equipe-list .equipe-item .autor-redes {
      margin-top: 10px; }
      .equipe-page .equipe-list .equipe-item .autor-redes a {
        display: inline-block;
        height: 20px;
        margin: 0 2px;
        text-indent: -900px;
        opacity: 0.30;
        overflow: hidden;
        background: url(../img/sprite.png) no-repeat;
        -webkit-transition: opacity 0.15s;
        transition: opacity 0.15s; }
      .equipe-page .equipe-list .equipe-item .autor-redes a:hover {
        opacity: 0.6; }
      .equipe-page .equipe-list .equipe-item .autor-redes a.facebook {
        width: 10px;
        background-position: -210px -48px; }
      .equipe-page .equipe-list .equipe-item .autor-redes a.twitter {
        width: 20px;
        background-position: -230px -48px; }
      .equipe-page .equipe-list .equipe-item .autor-redes a.instagram {
        width: 20px;
        background-position: -261px -48px; }
      .equipe-page .equipe-list .equipe-item .autor-redes a.pinterest {
        width: 20px;
        background-position: -287px -48px; }
    .equipe-page .equipe-list .equipe-item .autor-title a {
      color: #333;
      font-size: 1.125em;
      font-weight: 500;
      margin-bottom: 10px;
      display: inline-block; }
    .equipe-page .equipe-list .equipe-item p {
      color: #777;
      font-size: 0.875em; }

/* CATEGORIAS PAGE */
.category .categ-title {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  margin-bottom: 40px;
  display: inline-block;
  height: 150px;
  box-sizing: border-box;
  padding: 45px 0;
  background: #c40f55; }
  .category .categ-title h1 {
    color: #fff !important;
    font-size: 3.750em;
    margin: 0 0 0 -5px;
    text-transform: uppercase; }

/* FOOTER */
#footer {
  background: #3d3d3d;
  padding: 30px 0; }
  #footer .design {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px; }
    #footer .design .design-image {
      float: left;
      width: 80px;
      margin-right: 20px; }
    #footer .design .design-frase {
      float: left;
      width: 200px; }
    #footer .design p {
      color: #fff;
      font-size: 0.875em;
      margin: 0; }
    #footer .design a {
      color: #828282;
      font-size: 0.875em;
      margin-top: 3px;
      display: block; }
  #footer .redes-footer {
    width: 100%;
    display: block; }
    #footer .redes-footer li {
      display: inline-block;
      margin: 0 8px; }
    #footer .redes-footer a {
      display: block;
      width: 32px;
      height: 32px;
      background: url(../img/sprite.png) no-repeat;
      opacity: 0.35;
      overflow: hidden;
      text-indent: -9000px;
      cursor: pointer;
      -webkit-transition: opacity 0.15s;
      transition: opacity 0.15s; }
    #footer .redes-footer a:hover {
      opacity: 1; }
    #footer .redes-footer .facebook a {
      background-position: -184px 1px; }
    #footer .redes-footer .twitter a {
      background-position: -235px 1px; }
    #footer .redes-footer .instagram a {
      background-position: -285px 1px; }
    #footer .redes-footer .pinterest a {
      background-position: -335px 1px; }
  #footer .widget h5 {
    color: #fff; }
  #footer .widget.tags a {
    display: inline-block;
    margin: 2px;
    float: left;
    padding: 7px;
    font-size: 0.85em !important;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #717171;
    -webkit-transition: background 0.15s, border-color 0.15s;
    transition: background 0.15s, border-color 0.15s; }
  #footer .widget.tags a:hover {
    border-color: #fff;
    background: #fff;
    color: #000; }
  #footer .footer-bottom {
    width: 100%;
    text-align: center;
    margin: 40px 0 0;
    display: inline-block; }
    #footer .footer-bottom p, #footer .footer-bottom a {
      display: inline-block;
      color: #fff;
      margin: 0 20px;
      font-size: 0.75em; }

/* 
-----------------------------------------------------------------------------
Arquivo contendo os tamanhos dos elementos com querys para tamanhos de tela.
-----------------------------------------------------------------------------
*/
/* Tamanho de conteúdo */
@media only screen and (max-width: 1199px) {
  .container {
    width: 95%;
    display: list-item;
    margin: 0 2.5%;
    position: relative; } }
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    display: list-item;
    margin: 0 auto;
    position: relative; } }
/* iPhone */
/* iPad */
/* Monitores menores */
@media only screen and (min-width: 940px) {
  /* HOME */
  #main-section .post-list .post-item-list {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    margin-bottom: 20px;
    min-height: 430px; }
  #main-section .destaque-item {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%; }
  #main-section .widgets .widget-bottom {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%; }

  /* POSTS RELACIONADOS */
  #main-section .posts-relacionados .post-list .post-item-list {
    min-height: 265px; }

  /* AUTOR PAGE */
  #main-section.author-page .post-list .post-item-list {
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%;
    margin-bottom: 20px; }

  /* COM SIDEBAR */
  .with-sidebar #main {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
    margin-right: 9.375%;
    margin-bottom: 50px; }
  .with-sidebar #sidebar {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%; }

  /* FOOTER */
  #footer .widget {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%; } }
/* Full */
/* ----- MENU RESPONSIVO ----- */
